@font-face {
    font-family: "Druk wide cy";
    src: url(../font/Druk-Wide-Cy-Web-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Nunito sans";
    src: url(../font/NunitoSans_10pt-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Nunito sans";
    src: url(../font/NunitoSans_10pt-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Nunito sans";
    src: url(../font/NunitoSans_10pt-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Nunito sans";
    src: url(../font/NunitoSans_10pt-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "nunito sans";
}

.container {
    width: 1200px;
    margin: 0 auto;
}


img {
    max-width: 100%;
}

.section_6 {
    height: 100%;
    background: linear-gradient(101.59deg, #000000 0.72%, #424247 99.58%);
}

.ayri_6_0 {
    background: url(../img/Фото.png) no-repeat center / cover;
    padding-bottom: 250px;
    padding-top: 150px;
    height: 100vh;
}

.ayri_6 h2 {
    font-weight: 500;
    font-size: 50px;
    padding-bottom: 59px;
    color: white;
    font-family: "druk wide cy";
    font-weight: 500;
}

.ayri_6 span {
    background: linear-gradient(103.63deg, #FF4460 1.93%, #AD00FF 54.03%, #31CEFF 92.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: "druk wide cy";
    font-weight: 500;
}

.ayri_6 p {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 50px;
    color: white;
    font-weight: 400;
}

.ayri_button button {
    background-color: #FF4460;
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: white;
    padding: 14px 52px 16px 40px;
    border-radius: 12px;
}

.ayri_button img {
    margin-left: 9px;
}

.footer_flex {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 50px 0 30px;
}

.footer_flex p {
    font-weight: 300;
    font-size: 14px;
    color: #B3BACF;
}

.footer_flex a {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    color: #B3BACF;
}


/* section-5 */
.tariff-section {
    height: 100vh;
}

.tariff-inner {
    display: grid;
    grid-template-columns: 3fr 4fr;
}

.tariff-img {
    background-image: url(../img/tariff-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d9d9d9;
}

.tariff-img-text {
    max-width: 195px;
    margin: 630px auto 0;
}

.tariff-img-title {
    font-family: 'Druk Wide Cyr';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #04242B;
}

.tariff-img-span {
    font-family: 'Druk Wide Cyr';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    background: linear-gradient(103.63deg, #FF4460 1.93%, #AD00FF 54.03%, #31CEFF 92.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.tariff-img-lines {
    display: flex;
    gap: 5px;
    max-width: 190px;
    margin: 30px auto 0;
}

.tariff-line-1,
.tariff-line-2,
.tariff-line-3 {
    cursor: pointer;
    display: block;
    height: 4px;
    max-width: 60px;
    width: 100%;
    background-color: #fff;
    opacity: .5;
    border-radius: 9px;
}

.tariff-info {
    padding: 180px 0 95px 130px;
}

.tariff-info-title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #04242B;
}

.tariff-info-subtitle {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    background: linear-gradient(103.63deg, #FF4460 1.93%, #AD00FF 54.03%, #31CEFF 92.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.tariff-info-descriptions {
    margin-top: 24px;
}

.tariff-info-description {
    margin-top: 10px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #04242B;
}

.tariff-info-buttons {
    margin-top: 40px;
}

.tariff-button {
    background: #FAFBFC;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 370px;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.button-left {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #04242B;
}

.button-right {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #04242B;
}

.button-left span {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #919AB6;
}

.button-right span {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FF4460;
    text-decoration: line-through;
    display: flex;
    justify-content: end;
}

.button-active {
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 370px;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    border: 2px solid;
    border-image: linear-gradient(103.63deg, #FF4460 1.93%, #AD00FF 54.03%, #31CEFF 92.85%);
    border-image-slice: 1;
    border-radius: 12px;
}
/* section-5 end */