* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}









.header {
    width: 100%;
    position: fixed;
    font-family: 'Nunito Sans', sans-serif;
}


.header_nav {
    max-width: 1300px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header_menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.header_menu li a {
    color: black;
    font-size: 16px;
    line-height: 22px;
}

.header_menu li a:hover {
    text-decoration: underline;
}

.header_menu li a:active {
    text-decoration: none;
}

.login-img {
    vertical-align: text-bottom;
    margin-right: 5px;
}

.menu-link {
    display: flex;
    align-items: center;
}

.menu-dec {
    display: block;
    position: relative;
    width: 20px;
    height: 14px;
    margin-right: 5px;
}

.menu-arrow1 {
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 4px;
    top: 0;
    background-color: black;
}

.menu-arrow2 {
    position: absolute;
    width: 15px;
    height: 2px;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
}

.menu-arrow3 {
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 4px;
    bottom: 0;
    background-color: black;
}

.sec1 {
    background-image: url(../img/телефончик.png), url(../img/Ellipse\ 33.png), url(../img/Ellipse\ 34.png);
    background-repeat: no-repeat;
    background-position: 501px 192px, 948px 380px,1208px 115px;


    width: 100%;
    height: 900px;
    max-width: 1400px;
    margin: 0 auto;
}

.div_box_sec1 {
    width: 700px;
    height: 400px;
    text-align: left;
    padding-left: 40px;
    padding-top: 210px;

}

.div_box_sec1 h1 {
    width: 400px;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    color: #04242B;

}

.div_box_sec1 h2 {
    width: 300px;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    background: linear-gradient(103.63deg, #FF4460 1.93%, #AD00FF 54.03%, #31CEFF 92.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.div_box_sec1 p {
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 35px;
    width: 400px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #04242B;
}

.div_btn {

    padding-top: 28px;
}

.btn_1 {
    font-family: 'Nunito Sans', sans-serif;
    width: 230px;
    height: 50px;
    background-color: #FF4460;
    border: none;
    border-radius: 5px;
}

.btn_2 {
    font-family: 'Nunito Sans', sans-serif;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    width: 230px;
    height: 50px;
}

.btn_1 a {
    color: white;
}

.btn_2 a {
    color: black;
}








/* .div_box_sec1 { */
/* max-width: 1100px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-image:url(../img/телефончик.png),url(../img/Ellipse\ 34.png);
    background-repeat: no-repeat;
    background-position: right 105px;
}

.div_box_sec1 h1 {
    width: 300px;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.div_box_sec1 h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    background: linear-gradient(103.63deg, #FF4460 1.93%, #AD00FF 54.03%, #31CEFF 92.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.div_box_sec1 p {
    width: 500px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;

}

.div_box_sec1 a {
    color: white;
}
.div_box_sec1 h2{
    width: 400px;
}
.btn_1 {
    width: 230px;
    height: 50px;
    background-color: #FF4460;
    border: none;
    border-radius: 5px;
}

.btn_2 {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    width: 230px;
    height: 50px;
}

.btn_2 a {
    color: black;
}
.div{
    width: 500px;
} */