@font-face {
    font-family: "Druk wide cy";
    src: url(../font/Druk-Wide-Cy-Web-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Nunito sans";
    src: url(../font/NunitoSans_10pt-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Nunito sans";
    src: url(../font/NunitoSans_10pt-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Nunito sans";
    src: url(../font/NunitoSans_10pt-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: "Nunito sans";
}

.header {
    width: 100%;
    position: fixed;
}


.header_nav {
    max-width: 1300px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header_menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.header_menu li a {
    color: black;
    font-size: 16px;
    line-height: 22px;
}
.header_menu li a:hover {
    text-decoration: underline;
}
.header_menu li a:active {
    text-decoration: none;
}

.login-img {
    vertical-align: text-bottom;
    margin-right: 5px;
}

.menu-link {
    display: flex;
    align-items: center;
}

.menu-dec {
    display: block;
    position: relative;
    width: 20px;
    height: 14px;
    margin-right: 5px;
}

.menu-arrow1 {
position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 4px;
    top: 0;
    background-color: black;
}

.menu-arrow2 {
position: absolute;
    width: 15px;
    height: 2px;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
}

.menu-arrow3 {
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 4px;
    bottom: 0;
    background-color: black;
}

